@import "../../app.scss";

.contact {
  height: 100%;
  max-width: 1366px;
  margin: auto;
  display: flex;
  align-items: center;
  gap: 50px;
  justify-content: space-around;
  flex-direction: row-reverse;
  i {
    font-size: 70px;
  }
  @include mobile {
    width: 100%;
    padding: 10px;
    flex-direction: column;
  }
  @media (max-width: 738px) {
    img {
      width: 400px !important;
    }
    .title {
      font-size: 2rem !important;
    }
  }
  .boxSocial{
    display: flex;
    align-items: center;
    background-color: #15152a;
    padding: 0.5rem 1rem;
    margin-bottom: 1rem;
    border-top-left-radius: 35px;
    border-bottom-right-radius: 35px;
    cursor: pointer;
    transition: all .5s ease-out;
  }
  .boxSocial:hover {
    background-color: #855294;
    transform: translateX(8px);
  }
  .title {
    font-size: 3rem;
    margin: 1rem 0;
  }
  .boxSocial span {
    font-size: 2rem;
    margin-left: 1.5rem;
  }
  .textContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 40px;

    @include mobile {
      gap: 20px;
      text-align: center;
      align-items: center;
      margin-top: 70px;
    }

    h1 {
      font-size: 100px;
      line-height: 88px;

      @include mobile {
        font-size: 36px;
      }
    }
    
    span {
      font-weight: 300;
    }
  }
   img {
    width: 512px;
  }
}
